<script type="text/x-handlebars" data-template-name="new">
    <div class="row">
        <div class="col-sm-12">
            <section>
                <h1>{{title}}</h1>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Get the Cost Per Hour
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label  class="control-label">Lives</label>
                                {{input value=lives class="form-control" placeholder="10"}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Play Time Per Life (mins)</label>
                                {{input value=playTime class="form-control" placeholder="2"}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Life Recharge Time (mins)</label>
                                {{input value=rechargeTime class="form-control" placeholder="10"}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Estimated hours of play without waiting</label>
                                {{input value=playtime class="form-control" placeholder="8"}}
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    FreePlay {{freePlay}}<br>
                    LPH: {{livesPerHour}}<br>
                    RPH: {{renewedPerHour}}<br>
                    RLFH: {{remainingLivesFirstHour}}<br><BR>
                    <button {{action 'addLifePack'}} type="button" class="btn btn-default">Add A Recharge Pack</button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Get The Completion and Premium Content Costs
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">$ (USD)</button>
                                    <button type="button" class="btn btn-default active">&sect; (Special Currency)</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Average research/speedup cost</label>
                                <div class="input-group">
                                    <span class="input-group-addon">&sect;</span>
                                    {{input value=researchCost class="form-control" placeholder="7"}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Estimated number of times needed to complete the game <br>(use 9999 for infinity)</label>
                                {{input value=researchAmount class="form-control" placeholder="42"}}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Total Premium Content Cost <br>(you may need a calculator)</label>
                                <div class="input-group">
                                    <span class="input-group-addon">&sect;</span>
                                    {{input value=premiumCost class="form-control" placeholder="1450"}}
                                </div>
                            </div>
                        </form>
                    </div>

                    <button {{action 'addCreditPack'}} type="button" class="btn btn-default">Add a Credit Pack</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Subscriptions</h2>
            <button {{action 'addSubscriptionPack'}} type="button" class="btn btn-default">Add Subscription</button>
        </div>
        <div class="col-sm-6">
            <h2>Caclulated results</h2>
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            Upfront Cost <span class="badge">FREE</span>
                        </h4>
                        <p class="text-info">The Cost just to install the app.</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            Per Hour Cost <span class="badge">$2.34</span>
                        </h4>
                        <p class="text-info"><code>Per Hour Cost</code> is the estimated cost to play continuously for one hour, ie, recharging lives or supplies</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            To Complete <span class="badge">$39.00</span>
                        </h4>
                        <p class="text-info"><code>To Complete</code> is the minimum amount of in app purchases you need to play through the game without waiting. It includes skipping the waiting period imposed on things like research or building things This does not include the per hour cost of actually playing the game.</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            Unlock All <span class="badge">$231.37</span>
                        </h4>
                        <p class="text-info"><code>Unlock All</code> is the total cost of premium content in the game that you cannot earn, and does not include completion costs.</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            Subscription costs <span class="badge">$80.71</span>
                        </h4>
                        <p class="text-info"><code>Subscriptions</code> may not be required, but may change other costs that are not reflected here.</p>
                    </div>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            Total Game Cost <span class="badge">$289.09</span>
                        </h4>
                        <p class="text-info"><code>Total Game Cost</code> is calculated by multiplying the estimated total game time by the cost per hour plus the completion cost plus the cost of the premium content</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>